
extends layout

block content
  .main.buttonList
    .header
      .container
        .row
          .col-xs-12

    .body
      .container
        .row
          .col-sm-12
            <script src="https://gist.github.com/chadwallacehart/c596bdb89a6a25e1414849b4d1131e99.js"></script>
