extends layout

block content
  .main.buttonList
    .header
      .container
        .row
          .col-xs-12
            h1 Known Issues

    .body
      .container
        .row
          .col-sm-12
            <script src="https://gist.github.com/chadwallacehart/f32ad1905239cd766fc921fb2043a32e.js"></script>
