doctype html
html(lang='en')
  head
    if process.env.NEW_RELIC_LICENSE_KEY
      != newrelic.getBrowserTimingHeader()

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= title

    link(rel="apple-touch-icon" href="")
    link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")

    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    link(href="/click2vox/stylesheets/root.css" rel="stylesheet")
    link(href="//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.css" rel="stylesheet")
    link(href="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css" rel="stylesheet")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css")

    script(src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" async)
    script(src="/javascripts/voxbone-2.1.3.js")

    script(src="/click2vox/lib/requirejs/require.js")
    script(src="/click2vox/config.js")

    include tracking-scripts/google
    include tracking-scripts/hotjar

    block extra_head

  body
  toast
  a(class="github-fork-ribbon" href="https://github.com/voxbone-workshop/portal-widget") 
    img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png")
  .navbar-container
      nav.navbar
        .navbar-header
          a.navbar-brand(href='#')
          span.subBrand Voxbone WebRTC Beta
    block content
    footer
      .container
        .col-xs-12.text-center#bottom-footer
          a(target="_blank" href=" https://www.voxbone.com/acceptable-use-policy") Acceptable Use Policy
          a(target="_blank" href="https://www.voxbone.com/privacypolicy.jsf") Privacy Policy
          a(target="_blank" href="/click2vox/known-issues") Known Issues
          a(target="_blank" href="/click2vox/faq") FAQ
          a(target="_blank" href="https://github.com/voxbone-workshop/portal-widget/wiki") Wiki
          a(target="_blank" href="mailto:workshop@voxbone.com?subject=Voxbone Widget Generator Feedback") Send Feedback
          a(target="_blank" href="https://workshop.voxbone.com") A Workshop Project
          a(target="_blank" href="https://www.voxbone.com/" style="border-right: 0px;") Copyright © 2016 Voxbone SA/NV
