/* ===== Color Setup ===== */

@main-bg:         #eef2f5;
@contenttext:     #343c3e;
@subText:         #58646e;
@vx-purple:       #781e75; 
@navbar-grey:     #92a5a5;
@border-grey:     #d7dfe1; 
@panel-bg:         #fbfcfc;