.table {
  border-collapse: separate;
  border-spacing: 0 3px;
  thead {
    font-weight: bold;
    &:nth-child(odd) {
      background: rgba(255, 255, 255, 0.35);
    }
    tr {

      td {
        padding:20px 10px !important;
      }
    }
  }

  tr {
    background: rgba(255, 255, 255, 0.35);

    &:nth-child(odd) {
      background: rgba(255, 255, 255, 0.5);
    }

    td {
      padding: 10px !important;
      border: none !important;
      vertical-align: middle !important;
    }
  }
}

/*Modal*/
.modal-header {
  padding: 15px 15px 10px;
  background: #f5f5f5;
}

.modal-body {
  background: #ffffff;
  min-height: 150px;

  p:last-child {
    margin: 0;
  }
}

.modal-content {
  border-radius: 0;
}

.modal-footer {
  background: #f5f5f5;
}





