
@import "/lib/ngtoast/dist/ngToast-animations.min.css";
@import "/lib/ngtoast/dist/ngToast.min.css";
.alert-success {
    color: @ng-toast-alert-success-font;
    background-color:@ng-toast-alert-success-background ;
    border-color: @ng-toast-alert-success-border;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
