body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-horizontal .control-label {
  padding-top: 0px !important;
}

.prettify {
  overflow: auto;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
