@import url(//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);

.vox-widget-wrapper, #vox-control{
  font-family: 'Open Sans', sans-serif;
}

.hidden{
  display: none !important;
}

.vox-widget-wrapper{
  z-index: 10000;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.vox-widget-wrapper *, .vox-widget-wrapper *:before, .vox-widget-wrapper *:after {
  box-sizing: inherit;
}
.vox-widget-wrapper .vw-main{
  margin-right: 50px;

  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35);

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}
.vox-widget-wrapper .vw-main .vw-header{
  width: 315px;
  height: 46px;
  background: #eeeef0;
  border-bottom: 1px solid #d3d3d4;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.vox-widget-wrapper .vw-main .vw-header .vw-title{
  color: #1671ad;
  line-height: 46px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.vox-widget-wrapper .vw-main .vw-header .vw-animated-dots{
  color: #1671ad;
  line-height: 46px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
}
.vox-widget-wrapper .vw-main .vw-header .vw-actions{
  float: right;
  text-align: right;
  padding: 0 2.5px;
}
.vox-widget-wrapper .vw-main .vw-header .vw-actions a{
  display: inline-block;
  height: 46px;
  width: 46px;
  margin: 0 -2.5px;
  text-align: center;
  color: #9b9b9b;
  border-left: 1px solid #d3d3d4;
}
.vox-widget-wrapper .vw-main .vw-header .vw-actions a:last-child{
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}

.vox-widget-wrapper .vw-main .vw-header .vw-actions a:hover{
  background: #e2e2e5;
}

.vox-widget-wrapper .vw-main .vw-body{
  position: relative;
  width: 315px;
  min-height: 105px;
  background: #f5f5f7;
  border-top: 1px solid #ffffff;
  padding: 30px;
  text-align: center;
}

.vox-widget-wrapper .vw-main .vw-body .vw-footer{
  position: absolute;
  font-size: 9px;
  bottom: 8px;
  right: 8px;
}
.vox-widget-wrapper .vw-main .vw-body .vw-footer a{
  padding-right: 62px;
  background-image: url('../images/widget-brand.png');
  background-size: 60px 12.5px;
  background-position: right center;
  background-repeat: no-repeat;
  color: #8b8b8b;
}
.vox-widget-wrapper .vw-body .vw-btn-group{
  float: left;
  height: 40px;
}

.vox-widget-wrapper .vw-body .vw-rating .vw-question{
  padding-bottom: 20px;
  padding-bottom: 8px;
  font-weight: bold;
}
.vox-widget-wrapper .vw-body .vw-rating .vw-message {
  padding: 10px;
  margin: 0 -15px;
  background:#ECECEC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.vox-widget-wrapper .vw-body .btn-style{
  display: inline-block;
  width: 140px;
  line-height: 34px;
  border: 1px solid #17a0f3;
  padding: 0;
  margin: 10px 0;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background: #19a1f3;
  background: -webkit-linear-gradient(#19a1f3, #0b85ce);
  background: -moz-linear-gradient(#19a1f3, #19a1f3);
  background: -ms-linear-gradient(#19a1f3, #19a1f3);
  background: -o-linear-gradient(#19a1f3, #19a1f3);
  background: linear-gradient(#19a1f3, #0b85ce);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}

.vox-widget-wrapper .vw-body .vw-rating .vw-message  input[type="text"]{
  margin-top:5px;
}
.vox-widget-wrapper .vw-body .vw-rating .vw-stars{
  padding-bottom: 10px;
}
.vox-widget-wrapper .vw-body .vw-rating .vw-button{
}

.vox-widget-wrapper .vw-body .vw-btn-group a{
  position: relative;
  background: #9b9b9b;
  float: left;
  border-left:1px solid #bcbcbc;
  padding: 0 5px;
}
.vox-widget-wrapper .vw-body .vw-btn-group a:hover{
  background: #8f8f8f;
}
.vox-widget-wrapper .vw-body .vw-btn-group a:first-child{
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.vox-widget-wrapper .vw-body .vw-btn-group a:last-child{
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.vox-widget-wrapper .vw-body .vw-btn-group a.active:after{
  position: absolute;
  content: "";
  bottom:-8px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #9b9b9b transparent transparent transparent;
}
.vox-widget-wrapper .int-sensor{
  display: inline-block;
  min-width: 12px;
  height: 40px;
  padding: 11px 4px 0 2px;
}
.vox-widget-wrapper .int-sensor em{
  display: block;
  width: 3px;
  height: 3px;
  margin: 0 0 2px 0;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.vox-widget-wrapper .int-sensor em.on{
  background: #00ff2a;
}

.vox-widget-wrapper .int-sensor em.off, .vox-widget-wrapper .int-sensor em.peak {
  background: #ff002a;
}

.vox-widget-wrapper .vw-body .vw-end-call{
  float: left;
  width: 140px;
  height: 43px;
  color: #fff;
  font-weight: bold;
  background: #e20a1f;
  margin-left: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.vox-widget-wrapper .vw-body .vw-end-call:hover{
  background: #d0071b;
}
.vox-widget-wrapper .vw-body .vw-end-call i{
  vertical-align: middle;
  margin-top: 2px;
}
.vox-widget-wrapper .vw-body .vw-dialpad{
  display: none;
  width: 275px;
  margin: 20px 0 0;
  background: #f9f9fa;
  border-top: 1px solid #cececf;
  border-left: 1px solid #cececf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.vox-widget-wrapper .vw-body .vw-dialpad.active{
  display: inline-block;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul{
  display: block;
  padding: 0;
  margin: 0;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul li{
  float: left;
  padding: 0;
  margin: 0;
  width: 33.333%;
  height: 45px;
  list-style: none;
  line-height: 45px;
  border-bottom: 1px solid #cececf;
  border-right: 1px solid #cececf;
  font-weight: bold;
  cursor: pointer;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul li:hover{
  background: #f1f1f1;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul li.vw-tl{
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul li.vw-tr{
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul li.vw-bl{
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.vox-widget-wrapper .vw-body .vw-dialpad ul li.vw-br{
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}

.vw-icon{
  display: inline-block;
  background-image: url('../images/icon-sprite.png');
  background-size: 46px 322px;
  background-position: right center;
  background-repeat: no-repeat;
}
.vw-icon.vx-icon-full-sreen-on,
.vw-icon.vox-full-screen-on{
  width: 46px;
  height: 46px;
  background-position: 0 0;
}
.vw-icon.vx-icon-full-screen-on{
  width: 46px;
  height: 46px;
  background-position: 0 0px;
}
.vw-icon.vx-icon-full-screen-off{
  width: 46px;
  height: 46px;
  background-position: 0 -46px;
}
.vw-icon.vx-icon-close{
  width: 46px;
  height: 46px;
  background-position: 0 -92px;
}
.vw-icon.vx-icon-mic{
  width: 24px;
  height: 40px;
  background-position: -8px -138px;
}
.vw-icon.vx-icon-vol{
  width: 24px;
  height: 40px;
  background-position: -8px -184px;
}
.vw-icon.vx-icon-pad{
  width: 30px;
  height: 40px;
  background-position: -8px -230px;
}
.vw-icon.vx-icon-phone{
  width: 30px;
  height: 44px;
  background-position: -8px -280px;
}

@-webkit-keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

span.vw-animated-dots  {
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: opacity;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
}

span:nth-child(1).vw-animated-dots  {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
}

span:nth-child(2).vw-animated-dots  {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
}

span:nth-child(3).vw-animated-dots  {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
}

/* Widget Style */
/*Btn Widget Stuff*/
.btn-style-a {
  display: inline-block;
  border: 1px solid #17a0f3;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background: #19a1f3;
  background: -webkit-linear-gradient(#19a1f3, #0b85ce);
  background: -moz-linear-gradient(#19a1f3, #19a1f3);
  background: -ms-linear-gradient(#19a1f3, #19a1f3);
  background: -o-linear-gradient(#19a1f3, #19a1f3);
  background: linear-gradient(#19a1f3, #0b85ce);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}
.btn-style-a span {
  display: block;
  min-width: 120px;
  padding: 10px 12px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0px -1px #07619E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-style-a:hover {
  background: -webkit-linear-gradient(#0b85ce, #19a1f3);
  background: -moz-linear-gradient(#0b85ce, #19a1f3);
  background: -ms-linear-gradient(#0b85ce, #19a1f3);
  background: -o-linear-gradient(#0b85ce, #19a1f3);
  background: linear-gradient(#0b85ce, #19a1f3);
}
.btn-style-b {
  display: inline-block;
  border: 1px solid #90168c;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background: #92168e;
  background: -webkit-linear-gradient(#92168e, #660f63);
  background: -moz-linear-gradient(#92168e, #92168e);
  background: -ms-linear-gradient(#92168e, #92168e);
  background: -o-linear-gradient(#92168e, #92168e);
  background: linear-gradient(#92168e, #660f63);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}
.btn-style-b span {
  display: block;
  min-width: 120px;
  padding: 10px 12px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0px -1px #07619E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn-style-b:hover {
  background: -webkit-linear-gradient(#660f63, #92168e);
  background: -moz-linear-gradient(#660f63, #92168e);
  background: -ms-linear-gradient(#660f63, #92168e);
  background: -o-linear-gradient(#660f63, #92168e);
  background: linear-gradient(#660f63, #92168e);
}
.widget-box {
  position: relative;
  padding: 70px;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.widget-box .widget-footer-left {
  position: absolute;
  font-size: 9px;
  bottom: 8px;
  left: 8px;
}
.widget-box .widget-footer-left a {
  padding-right: 62px;
}
.widget-box .widget-footer-right {
  position: absolute;
  font-size: 9px;
  bottom: 8px;
  right: 8px;
}
.widget-box .widget-footer-right a {
  padding-right: 62px;
  background-image: url('../images/widget-brand.png');
  background-size: 60px 12.5px;
  background-position: right center;
  background-repeat: no-repeat;
}

.widget-box .widget-footer-right.style-b a {
  background-image: url('../images/widget-brand-white.png');
  color: #f1f1f1;
}

.widget-box .widget-footer-right.style-a a {
  background-image: url('../images/widget-brand.png');
  color: #781e75
}
.widget-box .btn-style {
  width: 100%;
}
.widget-box.style-a {
  -webkit-box-shadow: inset 0px 0px 5px 0px #ffffff, 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px #ffffff, 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px #ffffff, 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background: #f5f5f7;
}
.widget-box.style-a .btn-style {
  display: inline-block;
  border: 1px solid #17a0f3;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background: #19a1f3;
  background: -webkit-linear-gradient(#19a1f3, #0b85ce);
  background: -moz-linear-gradient(#19a1f3, #19a1f3);
  background: -ms-linear-gradient(#19a1f3, #19a1f3);
  background: -o-linear-gradient(#19a1f3, #19a1f3);
  background: linear-gradient(#19a1f3, #0b85ce);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}
.widget-box.style-a .btn-style span {
  display: block;
  min-width: 120px;
  padding: 10px 12px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0px -1px #07619E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget-box.style-a .btn-style:hover {
  background: -webkit-linear-gradient(#0b85ce, #19a1f3);
  background: -moz-linear-gradient(#0b85ce, #19a1f3);
  background: -ms-linear-gradient(#0b85ce, #19a1f3);
  background: -o-linear-gradient(#0b85ce, #19a1f3);
  background: linear-gradient(#0b85ce, #19a1f3);
}
.widget-box.style-a .widget-footer a {
  color: #8b8b8b;
}
.widget-box.style-b {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5), 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5), 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5), 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  background: #2a2929;
}
.widget-box.style-b .btn-style {
  display: inline-block;
  border: 1px solid #90168c;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background: #92168e;
  background: -webkit-linear-gradient(#92168e, #660f63);
  background: -moz-linear-gradient(#92168e, #92168e);
  background: -ms-linear-gradient(#92168e, #92168e);
  background: -o-linear-gradient(#92168e, #92168e);
  background: linear-gradient(#92168e, #660f63);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}
.widget-box.style-b .btn-style span {
  display: block;
  min-width: 120px;
  padding: 10px 12px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0px -1px #07619E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget-box.style-b .btn-style:hover {
  background: -webkit-linear-gradient(#660f63, #92168e);
  background: -moz-linear-gradient(#660f63, #92168e);
  background: -ms-linear-gradient(#660f63, #92168e);
  background: -o-linear-gradient(#660f63, #92168e);
  background: linear-gradient(#660f63, #92168e);
}
.widget-box.style-b .widget-footer a {
  color: #d8d8d8;
}
